@model AcTimer.ViewModels.CategoryFilterViewModel

@{
    ViewBag.Title = "Dashboard";
}


<div class="container">
    <div class="row">
        <div class="col-md-12"><h2 style="text-align:center">Categories</h2></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_DashboardFilter")
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a type="button" class="btn btn-primary btn-lg btn-block" href="@Url.Action("New")">Add a new category</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Category</th>
                        <th scope="col">Added Date</th>
                        <th scope="col">Added by</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td>@Html.ActionLink("View", "Details", routeValues: new { @id = item.Id })</td>
                            <td><strong>@item.Name</strong></td>
                            <td>@Html.DisplayFor(c => item.DateAdded)</td>
                            <td>@item.ApplicationUser.UserName</td>
                            <td><a href="@Url.Action("Edit",routeValues: new { @id = item.Id})"><span class="glyphicon glyphicon-edit"></span></a></td>
                            <td><a onclick="return confirm('Are sure wants to delete?');" href="@Url.Action("Delete",routeValues: new { @id = item.Id})"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

