@model AcTimer.ViewModels.ActivityFormViewModel

@{
    ViewBag.Title = "ActivityForm";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12"><h2>@Model.ViewTitle</h2></div>
        <div class="col-lg-12">
            @using (Html.BeginForm("Save", "Activities", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(a => a.Description)
                    @Html.TextBoxFor(a => a.Description, htmlAttributes: new { @class = "form-control", @placeholder = "required" })
                    @Html.ValidationMessageFor(a => a.Description)
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Date)
                    @Html.TextBoxFor(a => a.Date, htmlAttributes: new { @class = "form-control", @placeholder = "ex: 10 Aug 1995" })
                    @Html.ValidationMessageFor(a => a.Date)
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.TimeSpent)
                    @Html.TextBoxFor(a => a.TimeSpent, "{0:hh\\:mm}", htmlAttributes: new { @class = "form-control", @placeholder = "ex: 1:30" })
                    @Html.ValidationMessageFor(a => a.TimeSpent)
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.CategoryId)
                    @Html.DropDownListFor(a => a.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "Select category", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.CategoryId)
                </div>

                @Html.HiddenFor(a => a.Id)
                @Html.AntiForgeryToken()
                <input type="submit" value="Submit" class="btn btn-primary" />
            }
        </div>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}